{
  "development": {
    "dialect": "sqlite",
    "storage": "./db/development.sqlite"
  },
  "test": {
    "dialect": "sqlite",
    "logging": false
  },
  "production": {
    "dialect": "sqlite",
    "storage": "./db/production.sqlite",
    "logging": false
  }
}
