doctype xml
doctype plist
plist(version='1.0')
  dict
    key items
    array
      dict
        key assets
        array
          dict
            key kind
            string software-package
            key url
            string= url
        key metadata
        dict
          key bundle-identifier
          string= identifier
          key bundle-version
          string= version
          key kind
          string software
          key title
          string= title
